/*Universal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: rgba(0, 0, 0, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*Shared Styles*/
.My-btn{
    background-color: rgba(230, 83, 60, 1);
    padding:6px 14px 6px 14px ;
    border-radius: 39px;
    margin-right: 1px;
    border: 3px solid  rgba(230, 83, 60, 1);
}
.join-now{
    padding: 16px 45px 16px 45px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 5px;
    

}




/*Navbar Styles*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.span{
    display: none;
    
}
.red{
    color: white;
}
.navbar h5{
    font-size: 2.2rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}
.navbar-last{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar-last li{
    list-style: none;
    padding: 10px 20px 10px 2px;
    
}
.navbar-last li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.1rem;
    font-weight: 400;
}
.nav-menu{
    border:  1px solid gray;
    border-radius: 39px;
}

/*Banner Section Style*/

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    gap: 150px;
    margin-bottom: 100px;
}
.banner-right{
    position: relative;
    
}

.banner-right h2{
    color: rgba(255, 255, 255, 1);
    font-size: 4.7rem;
    font-weight: 900;
    line-height: 120%;
    left: 0;
}
.banner-right p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
}
.btn{
      padding: 16px 45px 16px 45px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border-radius: 46px;
    font-weight: 600;
    font-size: 1.1rem;
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner-left img{
    width: 100%;
}
.tool{
    border: 1px solid gray;
    background-color:rgba(128, 128, 128, 0.415);
    width: 180px;
    height: 90px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    padding-top: 12px;
    top: 35%;
    left: 81%;
    
}
.tool h5{
    
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.tool p{
    font-size: .9rem;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.65);
}
.sec-tool{
    border: 1px solid gray;
    background-color:rgba(128, 128, 128, 0.415);
    width: 170px;
    height: 85px;
    border-radius: 25px;
    display: flex;
    justify-content:center ;
    gap: 5px;
    align-items: center;
    position: absolute;
    top: 58%;
    right: 22%;
}
.orange{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(230, 83, 60, 1);
    margin-right: 5px;
    
}
.tool-info h5{
     color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
}
.tool-info p{
     font-size: .9rem;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.65);
}

/*top-1 Related Design*/
.top-1{
    max-width: 1200px;
    margin: 0 auto; 
}
.container{
    text-align: center;
    margin-bottom: 55px;
}
.container h1{
    font-size: 3.6rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;

}
.container p{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 22px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-info{
    text-align: center;
    margin-bottom: 100px;
}
.card-info img{
    width: 65%;
    border-radius: 100px;
    margin-bottom: 20px;
}
.card-info h5{
    font-size: 1.1rem;
    font-weight: 600;
    color:  rgba(255, 255, 255, 1);

}
.card-info p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, 0.5);
}

/*Middle Related Design*/
.middle-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    margin-bottom: 100px;
    padding: 35px;
}
.middle-left h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;

}
.middle-left p{
     font-size: .9rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
#join{
    padding: 16px 40px 16px 40px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    border-radius: 42px;
    font-size: 0.9rem;
    font-weight: 600;
}

.middle-right{
    
}
.run{
    width: 466px;
    border-radius: 18px;
 
}

/*End Main Related Design*/

.end-main{
    max-width: 1200px;
    margin: 0 auto;
}
.last h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}
.last p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, 0.5);
}
.last{
    margin-bottom: 50px;
}
.images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.normal-image{
    grid-column: span 1;
    grid-row: span 1;
}
.big-image{
    grid-column: span 2;
    grid-row: span 1;
}

.images img{
    width: 100%;
}

/*Responsive Design*/
@media screen and (max-width:576px){
.nav-menu{
    display: none;
}
.span{
    display: inline;
    margin-right: 5px;
    
}
.tool ,
.sec-tool{
    display: none;
}
.banner{
    flex-direction: column;
}
.banner-left img{
    width: 100%;
}
.card{
    flex-direction: column;
}
.card-info img{
    max-width: 100%;
}
.middle-container{
    flex-direction: column;
}
.run{
    max-width: 100%;
}
}